.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .navigation a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }